* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  

  /*------------------------------------------HEADER AND NAV MENU------------------------------------------------*/
  .header {
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(32, 41, 77, 0.2),rgba(15, 17, 19, 0.2)),url(./images/uinta.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
  }

  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
  }

  nav img {
    width: 550px;
  }

  .nav-links {
    flex: 1;
    text-align: right;
  }

  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
  }
  @media  (max-width :900px){
    .nav-links ul li a {
      border: none;
    }
  }
  .nav-links ul li::after { /*this selector adds the green line under the links ready for transition*/
    content: '';/*this makes the line 0 wide until we add transition*/
    width: 0%;
    height: 2px;
    background: rgb(72, 222, 72);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after { /*makes the green line transition below links*/
    width: 100%;
  }
  .text-box {
    width: 100%;
    top: 70%;
    color: rgb(157, 163, 157);
    position: absolute;
    text-align: center;
  }
h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    color: rgb(157, 163, 157);
  }
  nav .fa-solid {
    display: none;
  }
  @media (max-width: 900px){
    .text-box h1 {
      font-size: 25px;
    }
    .nav-links ul li {
      display: block;
      
    }
    .nav-links {
      position: absolute;
      background: rgb(76, 99, 76);
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
      
    }
    nav .fa-solid {
      display: block;
      color: rgb(48, 53, 49);
      margin: 10px;
      font-size: 30px;
      cursor: pointer; 
    }
    .nav-links ul {
      padding: 60px 10px;
      margin-bottom: 25px;
      
    }
    nav img {
      width: 250px;
    }

    .nav-links ul li a {
      font-size: 15px;
    }
  }

 .back-video{
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
 }
 @media (min-aspect-ratio:1/1){
   .back-video{
     width: 100%;
     height: auto;
   }
 }
 @media (max-aspect-ratio: 1/1){
   .back-video{
     width: auto;
     height: 100%;
   }
 }
 @media (max-width:900px){
   .back-video {
     width:100%;
 }
}

.text-box {
  padding-top: 50px;
}


/*------------------------------FOOTER-----------------*/

.footer {
  width: 100%;
  margin-top: 120px;
  padding: 70px 22%;
  background: rgb(198, 215, 198);
  color: rgb(18, 106, 5);
  display: flex;
}
.footer div {
  text-align: center;
}
.col-2 {
  flex-grow: 1;
}
.col-2 p {
  margin-top: 20px;
  color: rgb(132, 136, 132);
}

.footer a{
 display: block;
 color: rgb(132, 136, 132);
 font-size: 14px;
 text-decoration: none;
 padding-top: 20px;
 
}
.footer div h3 {
  font-size: 18px;
}
.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}
.critique-icons {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.critique-icons i {
  font-size: 17px;
  cursor: pointer;
}

@media (max-width:900px){
  .footer div h3 {
    font-size: 14px;
    margin-top: 70px;
  }
  .social-icons i {
    font-size: 15px;
    cursor: pointer;
  }
  .critique-icons i {
    font-size: 15px;
    cursor: pointer;
    
  }
  .footer {
    width: 100%;
    margin-top: 40px;
    padding: 40px 1%;
    background: rgb(233, 240, 233);
    display: flex;
    flex-direction: column;
  }
}
.tutorials{
  margin-top: 40px;
}






/*-----------------------COURSE LIST STYLES--------------------*/





/* COURSE BOXES LIST*/
.course-boxes {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(auto-fit, 250px); /*TO MAKE BOXES FIT & WRAP*/
	justify-content: center;
	margin-top: 20px;
}
.course-boxes div {
	text-align: center;
}
.course-boxes li {
	list-style: none;
	font-size: 15px;
	font-family: 'Fredericka the great', cursive;
  padding: 0;
  padding-bottom: 15px;	
  color:#738d74;
}
.course-boxes h3{
  padding:30px 0;
  color: rgb(132, 136, 132);
}
.copyright {
  display: flex;
  margin: 30px;
  gap: 100px;
  justify-content: center;
  color:#738d74;
}
@media (max-width:900px){
  .copyright {
    font-size: 12px;
  }
}