:root {
    --text-color: #738d74;
    --quotes: #0e691d;
    --blur: 10px;
    --course-info: rgb(0, 0, 0);
    --images-background: rgb(192, 207, 192);
    --h2: rgb(16, 58, 16);
    --font-family: 'Readex Pro', sans-serif;
    --wrapper-back: rgb(68, 85, 67);
  }

* {

box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Anton', sans-serif;
background-color: white;
color: var(--text-color);					


}


/*HEADER*/

header {
    
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #738d74;

}



/*NAV BAR*/
li {
     
    font-size: 1.5rem;
    margin-right: 1rem;
    font-weight: bold;
    margin-left: 20px;
    background-color: #738d74;
    
    
}

a {
    text-decoration: none;
    background-color: #738d74;
    
    
}

li:hover {
    background-color: #738d74;
}
/* SOCIAL ICONS*/

.socials ion-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
	color: white;
	margin: 10px;
    
    
}

/*SOCIALS MEDIA QUERY*/

@media screen and  (max-width: 500px)  {
    

    .socials ion-icon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 5px;
         
    }

    li {
      
    font-size: 1rem;
    
    }
}   


/*MAIN LOGO*/
.logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
	margin-bottom: 0px;
}
  

 
section .footer-socials {
	display: flex;
	gap: 1rem;
    padding: 0;
    justify-content: center;
}

/*COURSE SKETCH LOGO*/

.course-sketch img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/* QUOTES - BLOCKQUOTE*/

h3 {
	font-size: 15px;
    color: darkslategray;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* QUOTES - BLOCKQUOTE*/

.quotes {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 50px;
    margin: 30px;
    
}

#quote2 {
    color: #517958;
}


blockquote {
    
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    padding: 20px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    text-align: center;
    align-items: center;
    display: block;
    
    }
    
    blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
    }
    
    blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    }
     
    blockquote cite:before {
    content: "\2014 \2009";
    }


/* COURSE BOXES LIST*/
.course-boxes {
	display: grid;
	grid-gap: 50px;
	grid-auto-rows:max-content;
	grid-template-columns: repeat(auto-fit, 350px); /*TO MAKE BOXES FIT & WRAP*/
	justify-content: center;
	margin-top: 20px;

}


.course-boxes div {
	text-align: center;
    border: 1px solid rgb(173, 170, 170);
}


.course-boxes li {
	
	list-style: none;
	font-size: 15px;
	font-family: 'Fredericka the great', cursive;
    padding: 0;
    padding-bottom: 15px;	
    background-color: white;
}



h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    font-family: 'Love Ya Like A Sister', cursive;
    padding-right: 1rem;
    padding-left: 1rem;
    text-shadow: 1px 1px 0px rgb(241, 241, 239);
    padding-bottom: 50px;
    padding-top: 50px;
    background-color:#848B79;
    color:#413839;
}




/*COURSE PLAYTHROUGH VIDEOS*/

.media {
    display: flex;
    justify-content: center;
}

iframe {
    padding: 20px;
    margin: 0 auto;
    
}



@media screen and (max-width:600px) and (min-width:900px) {
    iframe {
        max-width: 300px;
        
    }
}


.playthrough {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 30px;
}

p {
    margin-top: 30px;
}


.critiques {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 25px;
    color: #4b4b4b;
}


.critique-social {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: #2a5338;
}










/*FOOTER DETAILS*/

.footer {
	margin-top: 390px;
	
}

.footer-socials ion-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 100px;
    background-color: white;
}

.footer-socials p {
    margin-bottom: 5px;
    margin-top: 100px; 
    background-color: white;
}


.copyright {
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
}

@media screen and (max-width:500px) {
    .footer-socials ion-icon {
        width: 20px;
        height: 20px;
        margin-bottom: 20px;
        
        
    }
    
}




@media screen and (max-width:500px) {
.footer-socials p {
    
    font-size: 20px;
    margin-left: 5px;
    background-color: white;
}
}




@media screen and (max-width:500px) {
    .copyright {    
    font-size: 10px;
    margin-left: 10px;
    text-align: center;
}

}


/*NAV BAR BUTTON */

.navbar {
    margin-bottom: 50px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #738d74;
}


.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #738d74;
}

.navbar-links li {
    list-style: none;
    background-color: #738d74;
    font-family: 'Anton', sans-serif;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    background-color: #738d74;
    color: white;
    margin-top: 30px;
    
}

.navbar-links li a:hover {
    background-color: rgb(92, 114, 94);
    color: white;
    
    
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(71, 95, 65);
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        
        
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        color: white;
        
        
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        
        
    }

    .navbar-links.active {
        display: flex;
        
    }
}



