
:root {

--my_font: 12px;
--head-color: #bcc4bc;
--top-section-color: white;
--primary-text-color:rgb(58, 69, 56);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  background-color: var(--head-color);
  font-size: var(--my_font);
}

header {
  height: 80px;
}


/*NAV BAR BUTTON */

.navbar {
  margin-bottom: 50px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--head-color);
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--head-color);
}

.navbar-links li {
  list-style: none;
  background-color: var(--head-color);
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: rgb(71, 95, 65);
  color: rgb(46, 90, 35);
  margin-top: 10px;
}

.navbar-links li a:hover {
  background-color: var(--head-color);
  color: white;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 15px;
  background-color: var(--head-color);
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(46, 90, 35);
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    color: white;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}




section {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: white;
}

section img {
  height: 40px;
  background-color: white;
}

h2 {
  background-color: white;
}