


* {

box-sizing: border-box;
margin: 0;
padding: 0;
background-color: rgb(27, 95, 27);
font-family: 'Abel', cursive;
color: white;

}

.wrapper {
    
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    
    

    
    
}

/*NAV BAR*/
li {
    display: inline;  
    font-size: 2rem;
    margin-right: 1rem;
    
    
}

a {
    text-decoration: none;
}

li:hover {
    background-color: green;
}
/* SOCIAL ICONS*/

.socials ion-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    
    
}

/*SOCIALS MEDIA QUERY*/

@media screen and  (max-width: 500px)  {
    

    .socials ion-icon {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid white;
        padding: 5px;
         
    }

    li {
      
    font-size: 1rem;
    color: white;
    }
}   



/*MAIN LOGO*/
.logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    border: 3px solid rgb(99, 189, 99);
    padding: 2rem;
    border-radius: 30px;  

}

/* WE CUT GRASS*/

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

.top-body p {
    text-align: center;
    padding: 5px;
    
}

/*VIDEO*/
.top-body video {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

/*QUOTES*/





.text {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    gap: 50px;
    
   
    
    
    
}

.text1, .text3 {
    
    color: rgb(99, 189, 99);
    font-size: 2rem;
    border: 2px solid white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 0;
    
}

.text2 {
    color: white;
    font-size: 2rem;
    border: 2px solid white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-weight: bold; 
    margin-bottom: 1rem;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    gap: 50px;
    
}

.images img {
    
    max-width: 100%;
}


