* {

box-sizing: border-box;
margin: 0;
padding: 0;

}

/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}

ion-icon {
    
    margin-right: 20px;
    width: 40px;
    height: 40px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    
}

li {
    display: inline;
    margin-right: 50px;
    font-size: 30px;
    
}

@media only screen and (max-width: 600px) {
	li {
	font-size: 15px;
	width: 100%;
	}
}

@media only screen and (max-width: 600px) {
    ion-icon {
	font-size: 10px;
	width: 20px;
    height: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    
	}
}

/*WRAPPER (logo)*/


section img {
    
    
    width: 600px;
    border: 3px green solid;
    margin-bottom: 50px;
    
}

@media only screen and (max-width: 600px) {
    section img {
	width: 100%;
	
    
	}
}

/*DIV (WECUTGRASS) */

.cutgrass p {
    color: green;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .cutgrass p {
	width: 100%;
	
    
	}
}

/*CONTAINER - TEXT*/


.container {
    background-color: yellow;
    padding: 20px;
    gap: 50px;

    
    
}

.text {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    
    
}



.container .text1 {
    font-size: 20px;
    color: rgb(188, 25, 25);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid white;
    padding: 15px;
    margin: 30px;
    width: 25%;
    height: 100px;
    
    
    
}

.container .text2 {
    font-size: 20px;
    color: rgb(188, 25, 25);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    flex-direction: row;
    border: 5px solid white;
    padding: 15px;
    margin: 30px;
    width: 25%;
    height: 100px;
    
}

.container .text3 {
    font-size: 20px;
    color: rgb(188, 25, 25);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid white;
    padding: 15px;
    margin: 30px;
    width: 25%;
    height: 100px;
   
  
    
}

.container .text4 {
    font-size: 20px;
    color: rgb(188, 25, 25);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid white;
    padding: 15px;
    margin: 30px;
    width: 25%;
    height: 100px;
    
  
    
}



@media only screen and (max-width: 600px) {
    p {
        width: 100%;
        
           }
}

